In [51]:
import os
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("../../")
from pathlib import Path
import numpy as np
import pandas as pd
from tqdm import tqdm
from matplotlib import pyplot as plt
# from src.dataloaders import PointOnlyDataloader, NoiseDataLoader
from src.utils.graphs import split_df_to_graphs

from sklearn.model_selection import train_test_split

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [42]:
dataset_dir = Path('../../dataset')
root_file = "farichsim_pi-pi-_45-360deg_1200.0k_ideal_2020-12-24_rndm.root"
root_path = dataset_dir / root_file

dataset = "dataset_100000_with_noise_2e5.csv"

In [43]:
df = pd.read_csv(dataset_dir / dataset)

In [33]:
df

          entry  subentry  x_c  y_c     z_c       t_c  signal
0             0         0  100   55  201.05  2.956575    True
1             0         1  105   31  201.05  3.164390    True
2             0         2  110   32  201.05  3.150230    True
3             0         3  106   67  201.05  2.841400    True
4             0         4  117   37  201.05  3.094911    True
...         ...       ...  ...  ...     ...       ...     ...
83645212  99999       799  108  148  201.05  2.433213   False
83645213  99999       800  162   32  201.05  4.979479   False
83645214  99999       801   25   95  201.05  6.684005   False
83645215  99999       802   47   12  201.05  6.480466   False
83645216  99999       803   49  225  201.05  2.273886   False

[83645217 rows x 7 columns]

In [46]:
%%timeit
entry_df = df[df.entry == 0]

48.8 ms ± 239 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [52]:
split_df_to_graphs(entry_df)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3460, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_2735447/1571367414.py", line 1, in <module>
    split_df_to_graphs(entry_df)
  File "/home/djkostya/projects/farich-detector/notebooks/ml/../../src/utils/graphs/creater.py", line 8, in split_df_to_graphs
    graphs = []
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/pandas/core/generic.py", line 11797, in sum
    return NDFrame.sum(
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/pandas/core/generic.py", line 11501, in sum
    return self._min_count_stat_function(
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/pandas/core/generic.py", line 11483, in _min_count_stat_function
    return self._reduce(
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/pandas/core/series.py", line 4815, in _reduce
    with np.errstate(all="ignore"):
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/numpy/core/_ufunc_config.py", line 433, in __enter__
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/numpy/core/_ufunc_config.py", line 305, in seterrcall
    raise ValueError("Only callable can be used as callback")
ValueError: Only callable can be used as callback

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1288, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1177, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1030, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 960, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 870, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/IPython/core/ultratb.py", line 704, in lines
    return self._sd.lines
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [35]:
entry_df = df[df.entry == 0][['x_c','y_c', 't_c', 'signal']]

In [39]:
entry_df[(df.t_c >= 0) & (df.t_c <= 5)].reset_index(drop=True)

/tmp/ipykernel_2735447/4278031266.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  entry_df[(df.t_c >= 0) & (df.t_c <= 5)].reset_index(drop=True)

     x_c  y_c       t_c  signal
0    100   55  2.956575    True
1    105   31  3.164390    True
2    110   32  3.150230    True
3    106   67  2.841400    True
4    117   37  3.094911    True
..   ...  ...       ...     ...
561   47  170  2.521595   False
562    1  167  0.650147   False
563   83   96  4.902512   False
564   24  153  2.674867   False
565   86   29  4.297562   False

[566 rows x 4 columns]

In [7]:
entry_df['join']=0
entry_df['index'] = entry_df.index

In [8]:
entry_df

     x_c  y_c       t_c  signal  join  index
0    100   55  2.956575    True     0      0
1    105   31  3.164390    True     0      1
2    110   32  3.150230    True     0      2
3    106   67  2.841400    True     0      3
4    117   37  3.094911    True     0      4
..   ...  ...       ...     ...   ...    ...
794  131  202  6.078539   False     0    794
795  168  101  5.509062   False     0    795
796   83   96  4.902512   False     0    796
797   24  153  2.674867   False     0    797
798   86   29  4.297562   False     0    798

[799 rows x 6 columns]

In [9]:
joined_df = entry_df.merge(entry_df, on='join', how='outer')

In [10]:
joined_df['distance'] = joined_df.apply(lambda x: np.sqrt((x.x_c_x - x.x_c_y)**2 + (x.y_c_x - x.y_c_y)**2 + (x.t_c_x - x.t_c_y)**2), axis=1)

In [14]:
joined_df_with_distance = joined_df[(joined_df.distance > 0) & (joined_df.t_c_x < 5) & (joined_df.t_c_y < 5) & (joined_df.distance < 36)]

In [15]:
joined_df_with_distance

,x_c_x,y_c_x,t_c_x,signal_x,join,index_x,x_c_y,y_c_y,t_c_y,signal_y,index_y,distance
1,100,55,2.956575,True,0,0,105,31,3.164390,True,1,24.516182
2,100,55,2.956575,True,0,0,110,32,3.150230,True,2,25.080620
3,100,55,2.956575,True,0,0,106,67,2.841400,True,3,13.416902
4,100,55,2.956575,True,0,0,117,37,3.094911,True,4,24.759223
5,100,55,2.956575,True,0,0,117,33,3.132797,True,5,27.803436
...,...,...,...,...,...,...,...,...,...,...,...,...
638247,86,29,4.297562,False,0,798,114,27,3.247158,False,645,28.090983
638262,86,29,4.297562,False,0,798,111,52,4.135098,False,660,33.970964
638299,86,29,4.297562,False,0,798,114,10,0.393297,False,697,34.062344
638312,86,29,4.297562,False,0,798,100,23,2.433674,False,710,15.345165
638328,86,29,4.297562,False,0,798,112,28,4.431098,False,726,26.019566

In [13]:
joined_df[joined_df.signal_x & joined_df.signal_y].describe()

,x_c_x,y_c_x,t_c_x,join,index_x,x_c_y,y_c_y,t_c_y,index_y,distance
count,324.000000,324.000000,324.000000,324.0,324.000000,324.000000,324.000000,324.000000,324.000000,324.000000
mean,124.500000,73.555556,3.021098,0.0,8.500000,124.500000,73.555556,3.021098,8.500000,52.747142
std,18.621619,49.155468,0.262489,0.0,5.196152,18.621619,49.155468,0.262489,5.196152,52.300215
min,100.000000,31.000000,2.773486,0.0,0.000000,100.000000,31.000000,2.773486,0.000000,0.000000
25%,114.000000,37.000000,2.828560,0.0,4.000000,114.000000,37.000000,2.828560,4.000000,17.720127
50%,120.500000,63.500000,2.963475,0.0,8.500000,120.500000,63.500000,2.963475,8.500000,33.778996
75%,128.000000,74.000000,3.132797,0.0,13.000000,128.000000,74.000000,3.132797,13.000000,69.771088
max,181.000000,231.000000,3.896714,0.0,17.000000,181.000000,231.000000,3.896714,17.000000,203.962095

In [16]:
edjes = pd.DataFrame([joined_df_with_distance.index_x, joined_df_with_distance.index_y])

In [18]:
edjes_array = edjes.to_numpy().T

In [21]:
edjes_array.shape

(19618, 2)

In [22]:
nodes = entry_df[entry_df.t_c<5][['x_c', 'y_c', 't_c']]

In [24]:
x = nodes.to_numpy()

In [25]:
from torch_geometric.data import Data

/home/djkostya/projects/farich-detector/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [27]:
graph = Data(x=x, edge_index=edjes)

In [6]:
entry_df[entry_df.t_c<=5]

     entry  subentry  x_c  y_c     z_c       t_c  signal
0        0         0  100   55  201.05  2.956575    True
1        0         1  105   31  201.05  3.164390    True
2        0         2  110   32  201.05  3.150230    True
3        0         3  106   67  201.05  2.841400    True
4        0         4  117   37  201.05  3.094911    True
..     ...       ...  ...  ...     ...       ...     ...
791      0       791   47  170  201.05  2.521595   False
793      0       793    1  167  201.05  0.650147   False
796      0       796   83   96  201.05  4.902512   False
797      0       797   24  153  201.05  2.674867   False
798      0       798   86   29  201.05  4.297562   False

[566 rows x 7 columns]

In [85]:
df

          entry  subentry  x_c  y_c     z_c       t_c  signal
0             0         0  100   55  201.05  2.956575    True
1             0         1  105   31  201.05  3.164390    True
2             0         2  110   32  201.05  3.150230    True
3             0         3  106   67  201.05  2.841400    True
4             0         4  117   37  201.05  3.094911    True
...         ...       ...  ...  ...     ...       ...     ...
83645212  99999       799  108  148  201.05  2.433213   False
83645213  99999       800  162   32  201.05  4.979479   False
83645214  99999       801   25   95  201.05  6.684005   False
83645215  99999       802   47   12  201.05  6.480466   False
83645216  99999       803   49  225  201.05  2.273886   False

[83645217 rows x 7 columns]

In [5]:
entities = df.entry.unique()

In [6]:
train, test = train_test_split(entities, test_size=0.4, random_state=42, shuffle=True)

In [7]:
df.t_c = df.t_c.round(2)

In [33]:
import time

In [35]:
start = time.time()
get_matrix_from_entry(df, 1)
print(time.time() - start)

0.11068010330200195

In [38]:
result = []

matrixes_dir = dataset_dir / 'matrixes'

matrixes_dir.mkdir(exist_ok=True, parents=True)
matrixes_dir = matrixes_dir.absolute().resolve()

for train_id, i in tqdm(enumerate(train), total=len(train)):
    matrixes = get_matrix_from_entry(df, i)
    for matrixe_idx, m in enumerate(matrixes):
        filename = f'{train_id}_{matrixe_idx}_matrix.npy'
        with open(matrixes_dir/filename, 'wb') as f:
            np.save(f, m[0])
        result.append((str((matrixes_dir/filename)), m[1]))

  0%|          | 8/60000 [00:10<22:23:59,  1.34s/it]

KeyboardInterrupt:

In [27]:
matrixes = get_matrix_from_entry(df, 1)

(array([[[0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        ...,

        [[0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]]]),
 0.9090909090909091)

In [ ]:
result

In [17]:
matrix_df = pd.DataFrame(result, columns=['matrix_pth', 'ratio'])

In [19]:
matrix_df.matrix_pth = matrix_df.matrix_pth.apply(lambda x: Path(x).resolve().__str__())

In [20]:
matrix_df.to_csv(dataset_dir/"matrix.csv", index=False)

In [162]:
train_df = pd.concat(m)

  0%|          | 0/60000 [00:00<?, ?it/s]
  0%|          | 1/60000 [00:01<17:21:46,  1.04s/it]
  0%|          | 3/60000 [00:01<5:17:13,  3.15it/s]
  0%|          | 5/60000 [00:01<3:05:19,  5.40it/s]
  0%|          | 7/60000 [00:01<2:12:29,  7.55it/s]
  0%|          | 9/60000 [00:01<1:45:44,  9.46it/s]
  0%|          | 11/60000 [00:01<1:29:41, 11.15it/s]
  0%|          | 13/60000 [00:01<1:20:29, 12.42it/s]
  0%|          | 15/60000 [00:01<1:13:41, 13.57it/s]
  0%|          | 17/60000 [00:02<1:09:55, 14.30it/s]
  0%|          | 19/60000 [00:02<1:06:46, 14.97it/s]
  0%|          | 21/60000 [00:02<1:05:19, 15.30it/s]
  0%|          | 23/60000 [00:02<1:04:11, 15.57it/s]
  0%|          | 25/60000 [00:02<1:03:00, 15.86it/s]
  0%|          | 27/60000 [00:02<1:02:13, 16.06it/s]
  0%|          | 29/60000 [00:02<1:01:39, 16.21it/s]
  0%|          | 31/60000 [00:02<1:01:49, 16.17it/s]
  0%|          | 33/60000 [00:02<1:01:25, 16.27it/s]/var/folders/2h/pvzr32ss6hd_92k0r59f4k940000gn/T/ipykernel_72088/367963849.py:14: RuntimeWarning: invalid value encountered in scalar divide
  matrixes.append((matrix, current_signal/total_signal))

  0%|          | 35/60000 [00:03<1:01:06, 16.35it/s]
  0%|          | 37/60000 [00:03<1:00:17, 16.57it/s]
  0%|          | 39/60000 [00:03<1:00:39, 16.47it/s]
  0%|          | 41/60000 [00:03<1:01:05, 16.36it/s]
  0%|          | 43/60000 [00:03<1:01:24, 16.27it/s]
  0%|          | 45/60000 [00:03<1:01:03, 16.36it/s]
  0%|          | 47/60000 [00:03<1:00:36, 16.49it/s]/var/folders/2h/pvzr32ss6hd_92k0r59f4k940000gn/T/ipykernel_72088/367963849.py:14: RuntimeWarning: invalid value encountered in scalar divide
  matrixes.append((matrix, current_signal/total_signal))

  0%|          | 49/60000 [00:03<1:01:15, 16.31it/s]
  0%|          | 51/60000 [00:04<1:00:30, 16.51it/s]
  0%|          | 53/60000 [00:04<1:00:40, 16.47it/s]
  0%|          | 55/60000 [00:04<1:01:16, 16.30it/s]
  0%|          | 57/60000 [00:04<1:01:02, 16.37it/s]
  0%|          | 59/60000 [00:04<1:01:04, 16.36it/s]
  0%|          | 61/60000 [00:04<1:02:16, 16.04it/s]
  0%|          | 63/60000 [00:04<1:01:56, 16.13it/s]
  0%|          | 65/60000 [00:04<1:02:13, 16.05it/s]
  0%|          | 67/60000 [00:05<1:01:20, 16.28it/s]
  0%|          | 69/60000 [00:05<1:01:05, 16.35it/s]
  0%|          | 71/60000 [00:05<1:01:21, 16.28it/s]
  0%|          | 73/60000 [00:05<1:00:54, 16.40it/s]
  0%|          | 75/60000 [00:05<1:00:43, 16.45it/s]
  0%|          | 77/60000 [00:05<1:01:15, 16.30it/s]
  0%|          | 79/60000 [00:05<1:00:52, 16.40it/s]
  0%|          | 81/60000 [00:05<1:01:07, 16.34it/s]
  0%|          | 83/60000 [00:06<1:00:03, 16.63it/s]
  0%|          | 85/60000 [00:06<1:00:21, 16.55it/s]
  0%|          | 87/60000 [00:06<1:00:36, 16.48it/s]
  0%|          | 89/60000 [00:06<1:00:54, 16.39it/s]
  0%|          | 91/60000 [00:06<1:00:57, 16.38it/s]
  0%|          | 93/60000 [00:06<1:13:30, 13.58it/s]
  0%|          | 95/60000 [00:06<1:10:57, 14.07it/s]
  0%|          | 97/60000 [00:07<1:10:12, 14.22it/s]
  0%|          | 99/60000 [00:07<1:07:56, 14.70it/s]
  0%|          | 101/60000 [00:07<1:10:54, 14.08it/s]
  0%|          | 103/60000 [00:07<1:08:38, 14.54it/s]
  0%|          | 105/60000 [00:07<1:06:08, 15.09it/s]
  0%|          | 107/60000 [00:07<1:05:18, 15.29it/s]/var/folders/2h/pvzr32ss6hd_92k0r59f4k940000gn/T/ipykernel_72088/367963849.py:14: RuntimeWarning: invalid value encountered in scalar divide
  matrixes.append((matrix, current_signal/total_signal))

  0%|          | 109/60000 [00:07<1:03:40, 15.68it/s]
  0%|          | 111/60000 [00:07<1:03:31, 15.71it/s]
  0%|          | 113/60000 [00:08<1:02:15, 16.03it/s]
  0%|          | 115/60000 [00:08<1:02:35, 15.95it/s]
  0%|          | 117/60000 [00:08<1:03:57, 15.60it/s]
  0%|          | 119/60000 [00:08<1:04:05, 15.57it/s]
  0%|          | 121/60000 [00:08<1:03:39, 15.68it/s]
  0%|          | 123/60000 [00:08<1:03:06, 15.81it/s]
  0%|          | 125/60000 [00:08<1:03:42, 15.66it/s]
  0%|          | 127/60000 [00:08<1:03:33, 15.70it/s]
  0%|          | 129/60000 [00:09<1:02:56, 15.85it/s]
  0%|          | 131/60000 [00:09<1:02:45, 15.90it/s]
  0%|          | 133/60000 [00:09<1:01:57, 16.11it/s]
  0%|          | 135/60000 [00:09<1:01:50, 16.13it/s]
  0%|          | 137/60000 [00:09<1:02:06, 16.06it/s]
  0%|          | 139/60000 [00:09<1:01:55, 16.11it/s]
  0%|          | 141/60000 [00:09<1:01:30, 16.22it/s]
  0%|          | 143/60000 [00:09<1:02:07, 16.06it/s]
  0%|          | 145/60000 [00:10<1:03:07, 15.81it/s]
  0%|          | 147/60000 [00:10<1:02:00, 16.09it/s]
  0%|          | 149/60000 [00:10<1:01:57, 16.10it/s]
  0%|          | 151/60000 [00:10<1:02:14, 16.03it/s]
  0%|          | 153/60000 [00:10<1:01:27, 16.23it/s]
  0%|          | 155/60000 [00:10<1:01:28, 16.22it/s]
  0%|          | 157/60000 [00:10<1:01:56, 16.10it/s]
  0%|          | 159/60000 [00:10<1:01:26, 16.23it/s]
  0%|          | 161/60000 [00:11<1:01:39, 16.18it/s]
  0%|          | 163/60000 [00:11<1:01:47, 16.14it/s]
  0%|          | 165/60000 [00:11<1:02:29, 15.96it/s]
  0%|          | 167/60000 [00:11<1:02:45, 15.89it/s]
  0%|          | 169/60000 [00:11<1:02:43, 15.90it/s]
  0%|          | 171/60000 [00:11<1:03:15, 15.76it/s]
  0%|          | 173/60000 [00:11<1:04:24, 15.48it/s]
  0%|          | 175/60000 [00:11<1:03:59, 15.58it/s]
  0%|          | 177/60000 [00:12<1:04:06, 15.55it/s]
  0%|          | 179/60000 [00:12<1:03:16, 15.76it/s]
  0%|          | 181/60000 [00:12<1:03:31, 15.69it/s]
  0%|          | 183/60000 [00:12<1:02:46, 15.88it/s]
  0%|          | 185/60000 [00:12<1:01:52, 16.11it/s]
  0%|          | 187/60000 [00:12<1:02:26, 15.97it/s]
  0%|          | 189/60000 [00:12<1:02:26, 15.96it/s]
  0%|          | 191/60000 [00:12<1:03:31, 15.69it/s]
  0%|          | 193/60000 [00:13<1:03:47, 15.62it/s]
  0%|          | 195/60000 [00:13<1:03:23, 15.72it/s]
  0%|          | 197/60000 [00:13<1:02:39, 15.91it/s]
  0%|          | 199/60000 [00:13<1:02:30, 15.95it/s]
  0%|          | 201/60000 [00:13<1:03:19, 15.74it/s]/var/folders/2h/pvzr32ss6hd_92k0r59f4k940000gn/T/ipykernel_72088/367963849.py:14: RuntimeWarning: invalid value encountered in scalar divide
  matrixes.append((matrix, current_signal/total_signal))

  0%|          | 203/60000 [00:13<1:02:30, 15.95it/s]
  0%|          | 205/60000 [00:13<1:03:13, 15.76it/s]
  0%|          | 207/60000 [00:13<1:03:01, 15.81it/s]
  0%|          | 209/60000 [00:14<1:02:15, 16.01it/s]
  0%|          | 211/60000 [00:14<1:01:24, 16.23it/s]
  0%|          | 213/60000 [00:14<1:01:06, 16.30it/s]
  0%|          | 215/60000 [00:14<1:00:45, 16.40it/s]
  0%|          | 217/60000 [00:14<1:00:19, 16.52it/s]
  0%|          | 219/60000 [00:14<1:00:23, 16.50it/s]
  0%|          | 221/60000 [00:14<1:01:20, 16.24it/s]
  0%|          | 223/60000 [00:14<1:01:36, 16.17it/s]
  0%|          | 225/60000 [00:15<1:01:56, 16.08it/s]
  0%|          | 227/60000 [00:15<1:00:44, 16.40it/s]
  0%|          | 229/60000 [00:15<1:00:02, 16.59it/s]
  0%|          | 231/60000 [00:15<1:00:42, 16.41it/s]
  0%|          | 233/60000 [00:15<1:00:54, 16.35it/s]
  0%|          | 235/60000 [00:15<1:00:57, 16.34it/s]
  0%|          | 237/60000 [00:15<1:01:14, 16.26it/s]
  0%|          | 239/60000 [00:15<1:01:13, 16.27it/s]
  0%|          | 241/60000 [00:16<1:00:52, 16.36it/s]
  0%|          | 243/60000 [00:16<1:01:26, 16.21it/s]
  0%|          | 245/60000 [00:16<1:01:43, 16.13it/s]
  0%|          | 247/60000 [00:16<1:01:42, 16.14it/s]
  0%|          | 249/60000 [00:16<1:01:42, 16.14it/s]
  0%|          | 251/60000 [00:16<1:01:59, 16.06it/s]
  0%|          | 253/60000 [00:16<1:01:53, 16.09it/s]
  0%|          | 255/60000 [00:16<1:01:52, 16.09it/s]
  0%|          | 257/60000 [00:17<1:01:39, 16.15it/s]
  0%|          | 259/60000 [00:17<1:01:48, 16.11it/s]
  0%|          | 261/60000 [00:17<1:01:25, 16.21it/s]
  0%|          | 263/60000 [00:17<1:01:29, 16.19it/s]
  0%|          | 265/60000 [00:17<1:01:44, 16.13it/s]
  0%|          | 267/60000 [00:17<1:01:50, 16.10it/s]
  0%|          | 269/60000 [00:17<1:01:30, 16.19it/s]
  0%|          | 271/60000 [00:17<1:01:52, 16.09it/s]
  0%|          | 273/60000 [00:18<1:01:45, 16.12it/s]
  0%|          | 275/60000 [00:18<1:02:20, 15.97it/s]
  0%|          | 277/60000 [00:18<1:01:29, 16.19it/s]
  0%|          | 279/60000 [00:18<1:01:29, 16.19it/s]
  0%|          | 281/60000 [00:18<1:00:41, 16.40it/s]
  0%|          | 283/60000 [00:18<1:01:21, 16.22it/s]
  0%|          | 285/60000 [00:18<1:00:56, 16.33it/s]
  0%|          | 287/60000 [00:18<1:01:38, 16.15it/s]
  0%|          | 289/60000 [00:18<1:01:02, 16.30it/s]
  0%|          | 291/60000 [00:19<1:01:46, 16.11it/s]
  0%|          | 293/60000 [00:19<1:01:30, 16.18it/s]
  0%|          | 295/60000 [00:19<1:02:03, 16.04it/s]
  0%|          | 297/60000 [00:19<1:02:22, 15.95it/s]
  0%|          | 299/60000 [00:19<1:01:41, 16.13it/s]
  1%|          | 301/60000 [00:19<1:01:14, 16.25it/s]
  1%|          | 303/60000 [00:19<1:00:45, 16.38it/s]
  1%|          | 305/60000 [00:19<1:01:02, 16.30it/s]
  1%|          | 307/60000 [00:20<1:01:27, 16.19it/s]
  1%|          | 309/60000 [00:20<1:01:34, 16.16it/s]
  1%|          | 311/60000 [00:20<1:01:26, 16.19it/s]
  1%|          | 313/60000 [00:20<1:01:48, 16.10it/s]
  1%|          | 315/60000 [00:20<1:01:34, 16.16it/s]
  1%|          | 317/60000 [00:20<1:00:53, 16.34it/s]
  1%|          | 319/60000 [00:20<1:00:22, 16.47it/s]
  1%|          | 321/60000 [00:20<1:00:46, 16.36it/s]
  1%|          | 323/60000 [00:21<1:00:00, 16.58it/s]
  1%|          | 325/60000 [00:21<1:00:23, 16.47it/s]
  1%|          | 327/60000 [00:21<59:49, 16.62it/s]
  1%|          | 329/60000 [00:21<1:00:35, 16.41it/s]
  1%|          | 331/60000 [00:21<1:01:18, 16.22it/s]
  1%|          | 333/60000 [00:21<1:01:56, 16.05it/s]
  1%|          | 335/60000 [00:21<1:01:45, 16.10it/s]
  1%|          | 337/60000 [00:21<1:02:20, 15.95it/s]
  1%|          | 339/60000 [00:22<1:02:37, 15.88it/s]
  1%|          | 341/60000 [00:22<1:02:37, 15.88it/s]
  1%|          | 343/60000 [00:22<1:02:33, 15.89it/s]
  1%|          | 345/60000 [00:22<1:02:31, 15.90it/s]
  1%|          | 347/60000 [00:22<1:02:29, 15.91it/s]
  1%|          | 349/60000 [00:22<1:01:27, 16.18it/s]
  1%|          | 351/60000 [00:22<1:01:59, 16.04it/s]
  1%|          | 353/60000 [00:22<1:03:47, 15.58it/s]
  1%|          | 355/60000 [00:23<1:02:44, 15.85it/s]
  1%|          | 357/60000 [00:23<1:02:43, 15.85it/s]
  1%|          | 359/60000 [00:23<1:02:05, 16.01it/s]
  1%|          | 361/60000 [00:23<1:02:07, 16.00it/s]
  1%|          | 363/60000 [00:23<1:01:34, 16.14it/s]
  1%|          | 365/60000 [00:23<1:01:52, 16.07it/s]
  1%|          | 367/60000 [00:23<1:01:50, 16.07it/s]
  1%|          | 369/60000 [00:23<1:02:08, 15.99it/s]
  1%|          | 371/60000 [00:24<1:02:02, 16.02it/s]
  1%|          | 373/60000 [00:24<1:03:07, 15.74it/s]
  1%|          | 375/60000 [00:24<1:02:28, 15.90it/s]
  1%|          | 377/60000 [00:24<1:01:37, 16.13it/s]

KeyboardInterrupt:

In [25]:
def get_matrix_from_entry(df, entry):
    entry_df = df[df.entry == entry]

    return get_matrix_from_df(entry_df)

In [26]:
def get_matrix_from_df(entry_df, window_size=500):
    matrixes = []
    total_signal = entry_df.signal.sum()
    if total_signal == 0:
        return matrixes
    times = np.arange(0, 13, 0.01)
    windows = rolling_window(times, window_size, 200)
    for idxs in windows:
        idx2val = {val: idx for idx, val in enumerate(idxs)}
        matrix = np.zeros((window_size, 240, 240))
        entries_for_idx = entry_df[entry_df.t_c.isin(idxs)]
        current_signal = entries_for_idx.signal.sum()
        for idx, row in entries_for_idx.iterrows():
            matrix[idx2val[row['t_c']], row['x_c']-1, row['y_c']-1] = 1

        matrixes.append((matrix, current_signal/total_signal))
    return matrixes

In [152]:
first_entry = df[df.entry == 10]
first_entry.t_c = first_entry.t_c.round(2)
get_matrix_from_df(first_entry)

/var/folders/2h/pvzr32ss6hd_92k0r59f4k940000gn/T/ipykernel_72088/1409683054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_entry.t_c = first_entry.t_c.round(2)

                                              Matrix  target_acc
0  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...    0.000000
1  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...    0.859649
2  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...    0.859649
3  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...    0.017544

/var/folders/2h/pvzr32ss6hd_92k0r59f4k940000gn/T/ipykernel_72088/459580876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  first_entry.t_c = first_entry.t_c.round(2)

In [90]:
first_entry.t_c.max()

7.0

In [91]:
times = np.arange(0, 10, 0.01)

In [92]:
times

array([0.  , 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ,
       0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21,
       0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32,
       0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43,
       0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54,
       0.55, 0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65,
       0.66, 0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76,
       0.77, 0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87,
       0.88, 0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98,
       0.99, 1.  , 1.01, 1.02, 1.03, 1.04, 1.05, 1.06, 1.07, 1.08, 1.09,
       1.1 , 1.11, 1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19, 1.2 ,
       1.21, 1.22, 1.23, 1.24, 1.25, 1.26, 1.27, 1.28, 1.29, 1.3 , 1.31,
       1.32, 1.33, 1.34, 1.35, 1.36, 1.37, 1.38, 1.39, 1.4 , 1.41, 1.42,
       1.43, 1.44, 1.45, 1.46, 1.47, 1.48, 1.49, 1.5 , 1.51, 1.52, 1.53,
       1.54, 1.55, 1.56, 1.57, 1.58, 1.59, 1.6 , 1.61, 1.62, 1.63, 1.64,
       1.65, 1.66, 1.67, 1.68, 1.69, 1.7 , 1.71, 1.72, 1.73, 1.74, 1.75,
       1.76, 1.77, 1.78, 1.79, 1.8 , 1.81, 1.82, 1.83, 1.84, 1.85, 1.86,
       1.87, 1.88, 1.89, 1.9 , 1.91, 1.92, 1.93, 1.94, 1.95, 1.96, 1.97,
       1.98, 1.99, 2.  , 2.01, 2.02, 2.03, 2.04, 2.05, 2.06, 2.07, 2.08,
       2.09, 2.1 , 2.11, 2.12, 2.13, 2.14, 2.15, 2.16, 2.17, 2.18, 2.19,
       2.2 , 2.21, 2.22, 2.23, 2.24, 2.25, 2.26, 2.27, 2.28, 2.29, 2.3 ,
       2.31, 2.32, 2.33, 2.34, 2.35, 2.36, 2.37, 2.38, 2.39, 2.4 , 2.41,
       2.42, 2.43, 2.44, 2.45, 2.46, 2.47, 2.48, 2.49, 2.5 , 2.51, 2.52,
       2.53, 2.54, 2.55, 2.56, 2.57, 2.58, 2.59, 2.6 , 2.61, 2.62, 2.63,
       2.64, 2.65, 2.66, 2.67, 2.68, 2.69, 2.7 , 2.71, 2.72, 2.73, 2.74,
       2.75, 2.76, 2.77, 2.78, 2.79, 2.8 , 2.81, 2.82, 2.83, 2.84, 2.85,
       2.86, 2.87, 2.88, 2.89, 2.9 , 2.91, 2.92, 2.93, 2.94, 2.95, 2.96,
       2.97, 2.98, 2.99, 3.  , 3.01, 3.02, 3.03, 3.04, 3.05, 3.06, 3.07,
       3.08, 3.09, 3.1 , 3.11, 3.12, 3.13, 3.14, 3.15, 3.16, 3.17, 3.18,
       3.19, 3.2 , 3.21, 3.22, 3.23, 3.24, 3.25, 3.26, 3.27, 3.28, 3.29,
       3.3 , 3.31, 3.32, 3.33, 3.34, 3.35, 3.36, 3.37, 3.38, 3.39, 3.4 ,
       3.41, 3.42, 3.43, 3.44, 3.45, 3.46, 3.47, 3.48, 3.49, 3.5 , 3.51,
       3.52, 3.53, 3.54, 3.55, 3.56, 3.57, 3.58, 3.59, 3.6 , 3.61, 3.62,
       3.63, 3.64, 3.65, 3.66, 3.67, 3.68, 3.69, 3.7 , 3.71, 3.72, 3.73,
       3.74, 3.75, 3.76, 3.77, 3.78, 3.79, 3.8 , 3.81, 3.82, 3.83, 3.84,
       3.85, 3.86, 3.87, 3.88, 3.89, 3.9 , 3.91, 3.92, 3.93, 3.94, 3.95,
       3.96, 3.97, 3.98, 3.99, 4.  , 4.01, 4.02, 4.03, 4.04, 4.05, 4.06,
       4.07, 4.08, 4.09, 4.1 , 4.11, 4.12, 4.13, 4.14, 4.15, 4.16, 4.17,
       4.18, 4.19, 4.2 , 4.21, 4.22, 4.23, 4.24, 4.25, 4.26, 4.27, 4.28,
       4.29, 4.3 , 4.31, 4.32, 4.33, 4.34, 4.35, 4.36, 4.37, 4.38, 4.39,
       4.4 , 4.41, 4.42, 4.43, 4.44, 4.45, 4.46, 4.47, 4.48, 4.49, 4.5 ,
       4.51, 4.52, 4.53, 4.54, 4.55, 4.56, 4.57, 4.58, 4.59, 4.6 , 4.61,
       4.62, 4.63, 4.64, 4.65, 4.66, 4.67, 4.68, 4.69, 4.7 , 4.71, 4.72,
       4.73, 4.74, 4.75, 4.76, 4.77, 4.78, 4.79, 4.8 , 4.81, 4.82, 4.83,
       4.84, 4.85, 4.86, 4.87, 4.88, 4.89, 4.9 , 4.91, 4.92, 4.93, 4.94,
       4.95, 4.96, 4.97, 4.98, 4.99, 5.  , 5.01, 5.02, 5.03, 5.04, 5.05,
       5.06, 5.07, 5.08, 5.09, 5.1 , 5.11, 5.12, 5.13, 5.14, 5.15, 5.16,
       5.17, 5.18, 5.19, 5.2 , 5.21, 5.22, 5.23, 5.24, 5.25, 5.26, 5.27,
       5.28, 5.29, 5.3 , 5.31, 5.32, 5.33, 5.34, 5.35, 5.36, 5.37, 5.38,
       5.39, 5.4 , 5.41, 5.42, 5.43, 5.44, 5.45, 5.46, 5.47, 5.48, 5.49,
       5.5 , 5.51, 5.52, 5.53, 5.54, 5.55, 5.56, 5.57, 5.58, 5.59, 5.6 ,
       5.61, 5.62, 5.63, 5.64, 5.65, 5.66, 5.67, 5.68, 5.69, 5.7 , 5.71,
       5.72, 5.73, 5.74, 5.75, 5.76, 5.77, 5.78, 5.79, 5.8 , 5.81, 5.82,
       5.83, 5.84, 5.85, 5.86, 5.87, 5.88, 5.89, 5.9 , 5.91, 5.92, 5.93,
       5.94, 5.95, 5.96, 5.97, 5.98, 5.99, 6.  , 6.01, 6.02, 6.03, 6.04,
       6.05, 6.06, 6.07, 6.08, 6.09, 6.1 , 6.11, 6.12, 6.13, 6.14, 6.15,
       6.16, 6.17, 6.18, 6.19, 6.2 , 6.21, 6.22, 6.23, 6.24, 6.25, 6.26,
       6.27, 6.28, 6.29, 6.3 , 6.31, 6.32, 6.33, 6.34, 6.35, 6.36, 6.37,
       6.38, 6.39, 6.4 , 6.41, 6.42, 6.43, 6.44, 6.45, 6.46, 6.47, 6.48,
       6.49, 6.5 , 6.51, 6.52, 6.53, 6.54, 6.55, 6.56, 6.57, 6.58, 6.59,
       6.6 , 6.61, 6.62, 6.63, 6.64, 6.65, 6.66, 6.67, 6.68, 6.69, 6.7 ,
       6.71, 6.72, 6.73, 6.74, 6.75, 6.76, 6.77, 6.78, 6.79, 6.8 , 6.81,
       6.82, 6.83, 6.84, 6.85, 6.86, 6.87, 6.88, 6.89, 6.9 , 6.91, 6.92,
       6.93, 6.94, 6.95, 6.96, 6.97, 6.98, 6.99, 7.  , 7.01, 7.02, 7.03,
       7.04, 7.05, 7.06, 7.07, 7.08, 7.09, 7.1 , 7.11, 7.12, 7.13, 7.14,
       7.15, 7.16, 7.17, 7.18, 7.19, 7.2 , 7.21, 7.22, 7.23, 7.24, 7.25,
       7.26, 7.27, 7.28, 7.29, 7.3 , 7.31, 7.32, 7.33, 7.34, 7.35, 7.36,
       7.37, 7.38, 7.39, 7.4 , 7.41, 7.42, 7.43, 7.44, 7.45, 7.46, 7.47,
       7.48, 7.49, 7.5 , 7.51, 7.52, 7.53, 7.54, 7.55, 7.56, 7.57, 7.58,
       7.59, 7.6 , 7.61, 7.62, 7.63, 7.64, 7.65, 7.66, 7.67, 7.68, 7.69,
       7.7 , 7.71, 7.72, 7.73, 7.74, 7.75, 7.76, 7.77, 7.78, 7.79, 7.8 ,
       7.81, 7.82, 7.83, 7.84, 7.85, 7.86, 7.87, 7.88, 7.89, 7.9 , 7.91,
       7.92, 7.93, 7.94, 7.95, 7.96, 7.97, 7.98, 7.99, 8.  , 8.01, 8.02,
       8.03, 8.04, 8.05, 8.06, 8.07, 8.08, 8.09, 8.1 , 8.11, 8.12, 8.13,
       8.14, 8.15, 8.16, 8.17, 8.18, 8.19, 8.2 , 8.21, 8.22, 8.23, 8.24,
       8.25, 8.26, 8.27, 8.28, 8.29, 8.3 , 8.31, 8.32, 8.33, 8.34, 8.35,
       8.36, 8.37, 8.38, 8.39, 8.4 , 8.41, 8.42, 8.43, 8.44, 8.45, 8.46,
       8.47, 8.48, 8.49, 8.5 , 8.51, 8.52, 8.53, 8.54, 8.55, 8.56, 8.57,
       8.58, 8.59, 8.6 , 8.61, 8.62, 8.63, 8.64, 8.65, 8.66, 8.67, 8.68,
       8.69, 8.7 , 8.71, 8.72, 8.73, 8.74, 8.75, 8.76, 8.77, 8.78, 8.79,
       8.8 , 8.81, 8.82, 8.83, 8.84, 8.85, 8.86, 8.87, 8.88, 8.89, 8.9 ,
       8.91, 8.92, 8.93, 8.94, 8.95, 8.96, 8.97, 8.98, 8.99, 9.  , 9.01,
       9.02, 9.03, 9.04, 9.05, 9.06, 9.07, 9.08, 9.09, 9.1 , 9.11, 9.12,
       9.13, 9.14, 9.15, 9.16, 9.17, 9.18, 9.19, 9.2 , 9.21, 9.22, 9.23,
       9.24, 9.25, 9.26, 9.27, 9.28, 9.29, 9.3 , 9.31, 9.32, 9.33, 9.34,
       9.35, 9.36, 9.37, 9.38, 9.39, 9.4 , 9.41, 9.42, 9.43, 9.44, 9.45,
       9.46, 9.47, 9.48, 9.49, 9.5 , 9.51, 9.52, 9.53, 9.54, 9.55, 9.56,
       9.57, 9.58, 9.59, 9.6 , 9.61, 9.62, 9.63, 9.64, 9.65, 9.66, 9.67,
       9.68, 9.69, 9.7 , 9.71, 9.72, 9.73, 9.74, 9.75, 9.76, 9.77, 9.78,
       9.79, 9.8 , 9.81, 9.82, 9.83, 9.84, 9.85, 9.86, 9.87, 9.88, 9.89,
       9.9 , 9.91, 9.92, 9.93, 9.94, 9.95, 9.96, 9.97, 9.98, 9.99])

In [93]:
times.strides
window_size = 500

In [94]:
from numpy.lib.stride_tricks import sliding_window_view

x = sliding_window_view(times, window_size)

In [95]:
x

array([[0.  , 0.01, 0.02, ..., 4.97, 4.98, 4.99],
       [0.01, 0.02, 0.03, ..., 4.98, 4.99, 5.  ],
       [0.02, 0.03, 0.04, ..., 4.99, 5.  , 5.01],
       ...,
       [4.98, 4.99, 5.  , ..., 9.95, 9.96, 9.97],
       [4.99, 5.  , 5.01, ..., 9.96, 9.97, 9.98],
       [5.  , 5.01, 5.02, ..., 9.97, 9.98, 9.99]])

In [10]:
def rolling_window(a, window, step):
    shape = a.shape[:-1] + ((a.shape[-1] - window + 1)//step, window)
    strides = (a.strides[0] * step,) + (a.strides[-1],)
    return np.lib.stride_tricks.as_strided(a, shape=shape, strides=strides)

In [97]:
windows = rolling_window(times, 400, 50)

In [98]:
total_signal = first_entry.signal.sum()

In [115]:
for idxs in windows:
    idx2val = {val: idx for idx, val in enumerate(idxs)}
    matrix = np.zeros((400, 240, 240))
    entries_for_idx = first_entry[first_entry.t_c.isin(idxs)]
    current = entries_for_idx.signal.sum()
    for idx, row in entries_for_idx.iterrows():
        matrix[idx2val[row['t_c']], row['x_c']-1, row['y_c']-1] = 1

0.9444444444444444

In [116]:
idx2val[2.96]

296

In [121]:
matrix[296].shape

(240, 240)

In [118]:
np.where(matrix == 1)

(array([  0,   2,   2,   2,   3,   3,   3,   3,   4,   4,   8,   9,  11,
         11,  12,  12,  14,  15,  16,  18,  18,  18,  19,  19,  21,  23,
         24,  25,  26,  29,  30,  30,  31,  32,  34,  36,  38,  38,  39,
         39,  39,  39,  42,  42,  43,  46,  49,  49,  49,  50,  50,  52,
         55,  55,  58,  58,  62,  63,  64,  65,  65,  66,  67,  68,  71,
         72,  73,  73,  73,  74,  75,  76,  76,  77,  78,  78,  86,  86,
         86,  87,  88,  88,  88,  89,  89,  89,  92,  93,  93,  97,  98,
         98,  98, 100, 100, 101, 101, 102, 102, 104, 104, 105, 106, 106,
        106, 108, 110, 111, 111, 116, 116, 117, 117, 118, 119, 120, 120,
        120, 121, 122, 122, 123, 124, 125, 125, 125, 126, 126, 127, 128,
        132, 135, 135, 136, 136, 136, 141, 141, 142, 145, 145, 145, 146,
        146, 147, 147, 147, 150, 150, 150, 150, 150, 151, 152, 153, 154,
        155, 155, 155, 155, 157, 159, 159, 159, 159, 160, 160, 162, 162,
        167, 168, 169, 171, 172, 172, 172, 174, 176, 176, 177, 177, 177,
        178, 178, 179, 179, 180, 180, 181, 183, 183, 183, 184, 185, 186,
        192, 192, 193, 194, 194, 195, 195, 196, 196, 196, 198, 198, 198,
        199, 200, 200, 202, 205, 206, 207, 208, 208, 209, 210, 211, 211,
        218, 218, 219, 220, 221, 221, 222, 223, 223, 223, 224, 224, 224,
        225, 227, 229, 232, 233, 233, 234, 235, 236, 237, 238, 238, 239,
        240, 240, 241, 241, 241, 242, 242, 242, 243, 243, 245, 245, 246,
        248, 248, 249, 250, 250, 252, 252, 254, 256, 257, 258, 259, 260,
        260, 260, 263, 263, 264, 264, 264, 265, 266, 266, 267, 269, 270,
        271, 271, 271, 271, 273, 274, 274, 274, 274, 275, 277, 277, 279,
        279, 279, 282, 283, 283, 284, 284, 286, 287, 287, 287, 287, 288,
        289, 289, 290, 290, 291, 293, 293, 293, 295, 295, 296, 296, 297,
        299, 304, 309, 309, 309, 309, 309, 310, 313, 314, 315, 315, 315,
        316, 317, 318, 318, 319, 319, 320, 321, 322, 323, 323, 323, 324,
        325, 325, 325, 325, 327, 329, 333, 334, 335, 335, 336, 337, 338,
        338, 340, 341, 341, 342, 344, 345, 346, 346, 349, 350, 352, 356,
        358, 358, 358, 359, 360, 362, 363, 363, 363, 364, 365, 367, 367,
        367, 373, 374, 374, 377, 381, 383, 383, 385, 385, 385, 386, 388,
        388, 389, 390, 392, 394, 395, 395, 396, 397, 397, 398, 399]),
 array([ 15,  19,  29, 173,  28,  73, 138, 140,  82, 137, 228, 130, 120,
        172,  38, 215,  67,  49, 125,  89, 169, 225, 140, 143, 167, 159,
        123, 197,  68, 215,  21, 116,  17, 164,  92,  19,  13, 163,  11,
         49, 113, 162,   7, 156,  21,  33,  66, 118, 161, 158, 208,  86,
         85, 231,  81, 234,   9, 138,  44,   0,  61, 185, 173, 213,  89,
        186,  75, 202, 232, 229, 158, 185, 230,  29,  79,  94,  23,  43,
         46, 152,  77, 105, 164,  25,  99, 119,  19, 175, 217,  43, 132,
        157, 201,  79, 124, 121, 159, 100, 114,  31, 216,  92,   8, 121,
        204, 196,  12,  12,  16, 208, 237, 107, 239, 133,  55, 166, 180,
        192, 217,  35, 173,  95,  98, 114, 156, 208,   6,  49, 167, 192,
        236,  68, 139,  33,  38, 183,  95, 178, 149,  43,  52, 127,  76,
        122,  36, 175, 229,  62,  78, 154, 200, 229, 180, 188, 175, 216,
        102, 142, 162, 186,  18, 101, 163, 187, 215, 142, 223,  83, 220,
        199,  55,  66, 133,   5,  60, 218,  39, 108, 231,  22,  25,  71,
         27, 225,  19,  78, 221, 225,   0,  96, 138, 203,  59, 127,  73,
         13, 161, 220, 112, 125,  26, 239,  32, 118, 148, 140, 161, 214,
         23,  35, 103,  80, 162, 226,  72, 131, 189,   0, 175, 113, 202,
         14, 108,  78, 239, 178, 221,  27,  47, 171, 200,  15,  20, 182,
        234, 110, 221, 155,  60, 188, 177, 209,  42,  69,  45, 159,  51,
        113, 214, 107, 173, 225,  13, 133, 225,  99, 145, 169, 228,  22,
        123, 155, 150,  41,  86,  46, 100, 156, 167, 154,   4,  67,  63,
         68, 132,  96, 192,  73, 123, 195, 124,  24, 177,  23,  46, 163,
         40,  82,  94, 115,  36,  49,  68, 148, 182, 196,  97, 132, 119,
        122, 236,   3, 124, 212, 105, 207,  39,  22,  57, 163, 228, 129,
        125, 239, 127, 139,  74,  25,  55, 117,  81,  91,  99, 236, 118,
        198, 180,  27,  70, 116, 120, 132,  88, 116,  91,  27, 109, 215,
        104, 229, 141, 174, 196, 197, 147,  38,  94,  37, 140, 216,  23,
         84, 113, 122, 224,   2, 150, 215,  76,  51, 103, 173, 164,  29,
        197,  98, 169, 221, 149,  83, 140,  74, 142,  53, 113, 112, 213,
         48, 107, 184,  67, 165, 165,   4,  29,  78, 108, 199,  76, 127,
        170, 214, 104, 182, 109,  21,  53, 223,  59,  98, 237,   8,  34,
        237,  32, 144, 122,  12, 122, 188,  13, 117, 160, 180,  97]),
 array([ 90, 210, 223, 118, 216, 238, 210, 212, 112,  52, 175, 107, 108,
        184, 220, 150, 236,  91,  12,  83,  71, 154, 139, 163,  30, 213,
        226, 104, 104, 227, 133,  91,  95, 228, 141,  62, 203,  72, 147,
        163,   9, 190,   3,  17, 108,  53,  31, 228, 103, 129, 181, 157,
         87,  60, 160, 181, 138, 186, 236, 166, 229,  22,  25, 169,  24,
        209, 172,  32, 221, 160, 167,  66,  41, 199,   6, 218,  91, 130,
         13,  38, 134, 109,  60, 146, 208, 103,  20,  29, 202,   7,  49,
        177, 162,  46, 136,  77, 152, 170, 105, 202, 145, 150,  51,  25,
        130, 143, 159,  49, 124, 173, 174, 234, 102,  33,  37, 172, 137,
        186, 157, 114,  23,  87,  16, 134, 160, 212, 231,  32, 236, 122,
          0, 108,  35, 163,  61,   1, 209, 202, 120,  35, 210,  34,  93,
        210, 102,  39, 206,  14, 124, 136,  16,  26,  88,  11,  60,  97,
        114, 158, 138, 200,  27, 142, 124, 132, 228, 117,  23,  33, 148,
         90,  70, 176, 187, 218, 102, 113,  87,  41, 170, 184,  84, 203,
         12, 117, 127, 217,  43, 151, 233, 196,  10, 194, 238,  89, 169,
         24,  28,   1,  78,  27, 202, 210, 156,  95,  17, 215, 166, 131,
        216, 140, 117, 112,  70,  65, 113, 231,  72, 147,  95, 184, 199,
         33,  12, 195,  68, 162, 208,  12, 102,  56, 235,  33, 104,  88,
        231, 136, 117, 214,  62, 223, 100,  15, 103, 116,  63, 213, 144,
        132,  93,  24,  79, 120,   2, 133, 124,  22,  78, 111, 119,  24,
        153, 114, 129, 190, 219, 169, 161,  46, 186,  57,  96, 230,  14,
         58, 138,  74,   7, 234, 148, 221, 151, 220,  22, 152,  27,  41,
         68, 111, 177,  83, 234,  46,  29,  36, 194,   5,  50,  96,  70,
         71, 161, 176,  66, 165,  66, 143, 114,   8,  48, 217,  71, 198,
         59, 239,  58, 100,  98, 193, 211, 218,  35, 196,  54, 150,  50,
        156,  82,  30, 139,  36,  36, 143,   4,  32, 189, 214,  31,   7,
         30, 117, 197, 181, 132,  24, 140, 192,  23, 213, 189,  67, 102,
         55,  26,  10, 206, 134, 166, 121, 225,  52,   9, 173,  81, 143,
        222, 185,  69,  28,  55,  70,  31, 164,  24,  72, 130,  11, 199,
        104, 231, 129,  66,  46,  59, 194, 236, 225, 208, 134, 150, 233,
         60, 195, 229, 153, 213, 103, 110, 102, 215, 238,  97, 204, 112,
         84, 141, 230,  79, 135, 106,  47, 100,  42, 112, 203, 173]))

In [104]:
first_entry

     entry  subentry  x_c  y_c     z_c   t_c  signal
0        0         0  100   55  201.05  2.96    True
1        0         1  105   31  201.05  3.16    True
2        0         2  110   32  201.05  3.15    True
3        0         3  106   67  201.05  2.84    True
4        0         4  117   37  201.05  3.09    True
..     ...       ...  ...  ...     ...   ...     ...
794      0       794  131  202  201.05  6.08   False
795      0       795  168  101  201.05  5.51   False
796      0       796   83   96  201.05  4.90   False
797      0       797   24  153  201.05  2.67   False
798      0       798   86   29  201.05  4.30   False

[799 rows x 7 columns]